@import "tailwindcss";

@font-face {
  font-family: "Playball";
  src: url("assets//fonts/Playball/Playball-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.playball {
  font-family: "Playball";
}

.shadow {
  box-shadow: "0 0 45px rgba(0, 0, 0, 0.08)";
}
