@import "tailwindcss";

@font-face {
  font-family: "Playball";
  src: url("assets//fonts/Playball/Playball-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.playball {
  font-family: "Playball";
}

.shadow {
  box-shadow: "0 0 45px rgba(0, 0, 0, 0.08)";
}

@keyframes slideOvershoot {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    transform: translateX(20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-overshoot {
  animation: slideOvershoot 1s ease-out forwards;
}

.top-bottom {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.top-bottom.aos-animate {
  transform: translateY(0);
  opacity: 1;
}
