@import "tailwindcss";

@font-face {
  font-family: "Playball";
  src: url("assets//fonts/Playball/Playball-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.playball {
  font-family: "Playball";
}

.shadow {
  box-shadow: "0 0 45px rgba(0, 0, 0, 0.08)";
}

@keyframes slideOvershoot {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    transform: translateX(20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-overshoot {
  animation: slideOvershoot 1s ease-out forwards;
}

@layer utilities {
  @keyframes multiBounce {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }
    25% {
      opacity: 1;
      transform: translateY(-15px); /* 1st up */
    }
    50% {
      transform: translateY(10px); /* 1st down */
    }
    75% {
      transform: translateY(-10px); /* 2nd up */
    }
    100% {
      transform: translateY(0); /* final position */
    }
  }

  .animate-multiBounce {
    animation-name: multiBounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: var(--tw-delay, 0ms);
    animation-play-state: paused;
  }

  [data-aos].aos-animate.animate-multiBounce {
    animation-play-state: running;
  }
  .animate-multiBounce1 {
    animation-name: multiBounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: var(--tw-delay, 0ms);
    animation-play-state: paused;
  }

  [data-aos].aos-animate.animate-multiBounce1 {
    animation-play-state: running;
  }
}
